body{
    background-color: #9ab3f5;
    color: #672e2e;
    font-family: 'algerian', Courier, monospace;
    font-size:32px;
}
.contenedor{
    display:flex;
    align-items: center;
    flex-direction: column;
}
h1{
    color: rgb(78, 18, 8);
    font-size:50px;
}
.grupo{
    display: flex;
    justify-content: flex-start;
    gap:20px;
    height:30px;
    margin-bottom: 15px;
}
.grupo label, button{
    width:100%;
    font-size:20px;
    font-weight: bold;
}
.grupo button{
    border-radius:10px;
    margin:20px;
    color:white;

    height:35px;
    background-image: linear-gradient(to right top, #a3a5a8, #ee4444);
    cursor:pointer;
    transition: .5s ease-in-out;
}
.grupo input{
    display:block;
    border-radius: 7px;
    font-size:25px;
}
#iva{
    display:block;
    margin-left: -330px;
    width:40px
}
textarea{
    margin-top:20px;
    width:100%;
    border-radius: 15px;
    padding: 10px;
    font-size:30px;
    color:#1d2742;
    font-weight:bold;
    background-color:rgb(233, 233, 229);
}